/* Heading */
/* ******* */
h1 {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    width: 0;
    white-space: nowrap;
    margin: 0;
    box-sizing: border-box;
    border-right: solid 2px white;
    overflow: hidden;
    animation:
        typing 5s steps(12, end) 1s forwards,
        blink-cursor 500ms step-end infinite,
        remove-cursor 1s linear 16s forwards;
}

.heading-wrapper {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    margin-inline: auto;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-cursor {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

@keyframes remove-cursor {
    to {
        border: none;
    }
}

.game-head-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--margin);
    margin-block-end: var(--margin);
}

.guess-btn {
    --_shadow-blur: 15px;
    --_shadow-spread: 4px;
    color: var(--text-color);
    font: inherit;
    font-size: 3rem;
    font-weight: 900;
    border: none;
    background-color: #008000;
    border-radius: 10px;
    height: 100%;
    aspect-ratio: 1 / 1.5;
    cursor: pointer;
    box-shadow: inset -3px -3px 10px 0px var(--dark-shadow),
        inset 3px 3px 10px 0px var(--light-shadow),
        var(--_shadow-spread) var(--_shadow-spread) var(--_shadow-blur) 0px var(--dark-shadow);
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

    &:active:not(:disabled) {
        --_shadow-blur: 6px;
        --_shadow-spread: 2px;
    }

    &:disabled {
        color: darkgrey;
        background-color: grey;
        cursor: not-allowed;
    }
}

/* Pegs */
/* **** */
.peg-wrapper {
    position: relative;
    display: flex;
    gap: 1rem;
    width: fit-content;
    padding: var(--margin);
    background-color: var(--bg-dark);
    box-shadow: 4px 4px 15px 0px var(--dark-shadow);
    border-radius: 10px;
}

.peg-inner {
    width: 2.2rem;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: var(--bg-color);
    box-shadow: inset 4px 4px 15px 0px var(--dark-shadow);
}

.peg {
    position: absolute;
    width: 2.2rem;
    aspect-ratio: 1;
    border-radius: 1000px;
    box-shadow:
        inset -1px -1px 7px 0px var(--dark-shadow),
        inset 1px 1px 7px 0px var(--light-shadow);
    cursor: grab;
    z-index: 10;

    &.red {
        background-color: var(--peg-red);
    }

    &.blue {
        background-color: var(--peg-blue);
    }

    &.green {
        background-color: var(--peg-green);
    }

    &.orange {
        background-color: var(--peg-orange);
    }

    &.purple {
        background-color: var(--peg-purple);
    }

    &.brown {
        background-color: var(--peg-brown);
    }
}


/* Game Board */
/* ********** */
.game-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    padding: var(--margin);
    background-color: var(--bg-dark);
    box-shadow: 4px 4px 15px 0px var(--dark-shadow);
    border-radius: 10px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.answer-wrapper,
.guess-inner,
.guess-result {
    border-radius: 6px;
    box-shadow: inset -3px -3px 10px 0px var(--dark-shadow),
        inset 3px 3px 10px 0px var(--light-shadow);
}

/* peg holes */
.answer, .guess, .result {
    position: relative;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: rgb(24, 24, 24);
    box-shadow: inset -1px -1px 5px 0px var(--light-shadow);
}

/* result holes */
.result {
    width: 1rem;
    box-shadow: inset -1px -1px 3px 0px var(--light-shadow);
}

.answer-wrapper {
    background-color: var(--bg-overlay);
}

.guess-wrapper {
    display: flex;
    gap: 0.75rem;
}

.guess-inner {
    background-color: var(--bg-overlay);
}

.guess-result {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--bg-overlay);
    border-radius: 6px;
    margin-top: 0.25rem;
}

.guess {
    transition: opacity 200ms;
}

.locked .guess:not(:has(.peg)) {
    opacity: 0;
}

.guess .peg {
    position: absolute;
    top: -0.1rem;
    left: -0.1rem;
    cursor: default;
    z-index: 5;
}