/* Heading */
/* ******* */
h1 {
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.2em;
    width: 0;
    white-space: nowrap;
    margin: 0;
    box-sizing: border-box;
    border-right: solid 2px white;
    overflow: hidden;
    animation:
        typing 5s steps(12, end) 1s forwards,
        blink-cursor 500ms step-end infinite,
        remove-cursor 1s linear 16s forwards;
}

.heading-wrapper {
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    margin-inline: auto;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-cursor {
    from, to {
        border-color: transparent;
    }

    50% {
        border-color: white;
    }
}

@keyframes remove-cursor {
    to {
        border: none;
    }
}

.game-head-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--margin);
    margin-block-end: var(--margin);

    button {
        --_shadow-blur: 15px;
        --_shadow-spread: 4px;
        color: var(--text-color);
        font: inherit;
        font-weight: 900;
        height: 100%;
        aspect-ratio: 1 / 1.5;
        border: none;
        background-color: #008000;
        border-radius: 10px;

        cursor: pointer;
        box-shadow: inset -3px -3px 10px 0px var(--dark-shadow),
            inset 3px 3px 10px 0px var(--light-shadow),
            var(--_shadow-spread) var(--_shadow-spread) var(--_shadow-blur) 0px var(--dark-shadow);
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

        &:active:not(:disabled) {
            --_shadow-blur: 6px;
            --_shadow-spread: 2px;
        }

        &:disabled {
            color: darkgrey;
            background-color: grey;
            cursor: not-allowed;
        }
    }

    .start-btn {
        font-size: 2.2rem;
    }

    .guess-btn {
        font-size: 3rem;
    }
}


/* Pegs */
/* **** */
.peg-wrapper {
    position: relative;
    display: flex;
    gap: 1rem;
    width: fit-content;
    padding: var(--margin);
    background-color: var(--bg-dark);
    box-shadow: 4px 4px 15px 0px var(--dark-shadow);
    border-radius: 10px;
}

.peg-inner {
    width: 2.2rem;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: var(--bg-color);
    box-shadow: inset 4px 4px 15px 0px var(--dark-shadow);
}

.peg {
    position: absolute;
    width: 2.2rem;
    aspect-ratio: 1;
    border-radius: 1000px;
    box-shadow:
        inset -1px -1px 7px 0px var(--dark-shadow),
        inset 1px 1px 7px 0px var(--light-shadow);
    cursor: grab;

    &.red {
        background-color: var(--peg-red);
    }

    &.blue {
        background-color: var(--peg-blue);
    }

    &.green {
        background-color: var(--peg-green);
    }

    &.orange {
        background-color: var(--peg-orange);
    }

    &.purple {
        background-color: var(--peg-purple);
    }

    &.brown {
        background-color: var(--peg-brown);
    }
}


/* Game Board */
/* ********** */
.game-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1.5rem;
    padding: var(--margin);
    background-color: var(--bg-dark);
    box-shadow: 4px 4px 15px 0px var(--dark-shadow);
    border-radius: 10px;
}

.inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
}

.answer-wrapper,
.guess-inner,
.guess-result {
    border-radius: 6px;
    box-shadow: inset -3px -3px 10px 0px var(--dark-shadow),
        inset 3px 3px 10px 0px var(--light-shadow);
}

/* peg holes */
.answer, .guess, .result {
    position: relative;
    width: 2rem;
    aspect-ratio: 1;
    border-radius: 1000px;
    background-color: rgb(24, 24, 24);
    box-shadow: inset -1px -1px 5px 0px var(--light-shadow);
}

.guess-wrapper {
    display: flex;
    gap: 0.75rem;
}

.guess-inner {
    background-color: var(--bg-overlay);
}

.guess {
    transition: opacity 300ms;
}

/* fade contents of locked container unless it already has a peg */
.locked .guess:not(:has(.peg)),
.locked:not(:has(.result[data-peg=true])) .result {
    opacity: 0.3;
}

.guess,
.answer {
    .peg {
        position: absolute;
        top: -0.1rem;
        left: -0.1rem;
        cursor: default;
        z-index: 5;
    }
}

/* Result sections */
.guess-result {
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    padding: 1rem;
    background-color: var(--bg-overlay);
    border-radius: 6px;
    margin-top: 0.25rem;
}

/* result holes */
.result {
    --_result-pin-delay: 300ms;
    width: 1rem;
    box-shadow: inset -1px -1px 3px 0px var(--light-shadow);

    &:nth-of-type(2) {
        --_result-pin-delay: 1300ms;
    }

    &:nth-of-type(3) {
        --_result-pin-delay: 2300ms;
    }

    &:nth-of-type(4) {
        --_result-pin-delay: 3300ms;
    }
}

.result[data-peg=true]::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 1.1rem;
    aspect-ratio: 1;
    border-radius: 1000px;
    z-index: 20;
    box-shadow:
        inset -1px -1px 5px 0px var(--dark-shadow),
        inset 1px 1px 5px 0px var(--light-shadow);
    translate: -3rem 3rem;
    scale: 1.2;
    opacity: 0;
    animation: result-pins 2000ms ease var(--_result-pin-delay) forwards;
}

.result.red::after {
    background-color: red;
}

.result.white::after {
    background-color: white;
}

@keyframes result-pins {
    30% {
        opacity: 1;
        translate: -3rem 3rem;
        scale: 1.2;
    }

    100% {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

/* Answer section */
.answer-wrapper {
    --_cover-position: -4rem;
    position: relative;
    background-color: var(--bg-overlay);
    overflow: hidden;
}

.answer-wrapper:after {
    content: '';
    position: absolute;
    inset: 0.5rem;
    background-color: var(--bg-dark);
    z-index: 20;
    border-radius: 6px;
    box-shadow:
        inset -3px -3px 10px 0px var(--dark-shadow),
        inset 3px 3px 10px 0px var(--light-shadow);
    translate: var(--_cover-position);
    /* animation: cover-in 1500ms ease 1000ms forwards; */
    transition: translate 2000ms;
}

@keyframes cover-in {
    100% {
        translate: 0;
    }
}


/* Message Dialog */
/* ************** */
.message-dialog {
    position: relative;
    font-size: 1.2rem;
    color: var(--bg-dark);
    background-color: var(--text-color);
    padding: 0;
    border: none;
    border-radius: 10px;
    opacity: 0;
    animation: dialog-in 1000ms ease forwards;

    p {
        margin: 1rem 2rem 3rem;
    }

    .shadow-box {
        position: absolute;
        inset: 0;
        pointer-events: none;
        box-shadow:
            inset -3px -3px 10px 0px var(--dark-shadow),
            inset 3px 3px 10px 0px var(--light-shadow);
    }
}

.dialog-header {
    display: flex;
    align-items: start;
    margin: 1.5rem 1.5rem 0;

    h3 {
        font-size: 1.5rem;
        text-align: center;
        text-transform: capitalize;
        margin-block-end: 0;
    }

    button {
        color: var(--text-color);
        font-family: inherit;
        font-size: inherit;
        font-weight: 900;
        background-color: var(--bg-dark);
        border: none;
        border-radius: 4px;
        padding: 0.25rem 0.5rem;
        margin-inline-start: auto;
        cursor: pointer;
        box-shadow:
            inset -1px -1px 3px 0px var(--dark-shadow),
            inset 1px 1px 3px 0px var(--light-shadow),
            1px 1px 2px 0px var(--dark-shadow);
    }
}

.dialog-footer {
    height: 3.5rem;
    background: linear-gradient(90deg,
            var(--peg-red) 0%,
            var(--peg-red) 16.66%,
            var(--peg-blue) 16.66%,
            var(--peg-blue) 33.33%,
            var(--peg-green) 33.33%,
            var(--peg-green) 50%,
            var(--peg-orange) 50%,
            var(--peg-orange) 66.66%,
            var(--peg-purple) 66.66%,
            var(--peg-purple) 83.33%,
            var(--peg-brown) 83.33%,
            var(--peg-brown) 100%);

}

.message-dialog::backdrop {
    background-color: var(--dark-shadow);
}

@keyframes dialog-in {
    100% {
        opacity: 1;
    }
}